*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050816;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.login-container{
width:100%;
max-width:500px;
background:#071126;
border:1px solid rgba(255,255,255,.08);
border-radius:24px;
padding:30px;
}

.top-bar{
display:flex;
justify-content:space-between;
margin-bottom:30px;
}

.top-bar a{
color:white;
text-decoration:none;
font-size:14px;
}

.profile-icon{
width:100px;
height:100px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
margin-bottom:20px;
border:3px solid;
}

.profile-icon i{
font-size:42px;
}

.user-theme .profile-icon{
border-color:#ff6b00;
}

.user-theme .profile-icon i{
color:#ff6b00;
}

.provider-theme .profile-icon{
border-color:#3b82f6;
}

.provider-theme .profile-icon i{
color:#3b82f6;
}

h1{
text-align:center;
margin-bottom:10px;
color:#bfc8d7;
}

.subtitle{
text-align:center;
color:#bfc8d7;
margin-bottom:30px;
}

label{
display:block;
margin-top:18px;
margin-bottom:8px;
}

input[type="text"],
input[type="password"]{
width:100%;
padding:14px;
background:#0b1630;
border:1px solid #1c2b4b;
border-radius:12px;
color:white;
}

.password-box{
position:relative;
}

.password-box i{
position:absolute;
right:15px;
top:50%;
transform:translateY(-50%);
color:#f0f1f4;
}

.options{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:18px;
font-size:14px;
color:#f0f1f4
}

.options label{
display:flex;
align-items:center;
gap:8px;
margin:0;
color:#f0f1f4
}

.user-theme .options a{
color:#ff6b00;
text-decoration:none;
}

.provider-theme .options a{
color:#3b82f6;
text-decoration:none;
}

.login-btn{
width:100%;
padding:15px;
border:none;
border-radius:12px;
margin-top:25px;
font-size:16px;
font-weight:600;
color:white;
cursor:pointer;
}

.user-theme .login-btn{
background:linear-gradient(90deg,#ff7b00,#ff5c00);
}

.provider-theme .login-btn{
background:linear-gradient(90deg,#3b82f6,#2563eb);
}

.divider{
text-align:center;
margin:25px 0;
position:relative;
color:#2563eb
}

.divider::before,
.divider::after{
content:"";
position:absolute;
width:40%;
height:1px;
background:#04020b;
top:50%;
}

.divider::before{
left:0;
}

.divider::after{
right:0;
}

.google-btn{
width:100%;
padding:14px;
border-radius:12px;
background:#1d2944;
border:1px solid #1d2944;
color:white;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
cursor:pointer;
}

.google-btn img{
width:22px;
}

.signup-text{
text-align:center;
margin-top:25px;
color:#bfc8d7;
}

.user-theme .signup-text a{
color:#ff6b00;
text-decoration:none;
font-weight:600;
}

.provider-theme .signup-text a{
color:#3b82f6;
text-decoration:none;
font-weight:600;
}

@media(max-width:600px){

.login-container{
padding:20px;
}

.profile-icon{
width:80px;
height:80px;
}

.profile-icon i{
font-size:32px;
}

}