 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background: linear-gradient(135deg, #3396e2, #CFE8FF, #1766a8);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 100vh;
        }

    .logo{
            width: 90px;
            position: top right;
            top: 15px;
            right: 20px;
        }

        .work{
            height:250px;
            width:300px;
        }

    .hero{
    text-align: center;
    margin-top: 100px;
    }

   .hero h1{
    color: #0A1F5C;
    font-size: 70px;
    margin-bottom: 2px;
    font-family: Georgia, serif;
   }

  .hero p{
    color: #FF8C00;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
   }

  .btn{
    background-color: #0A1F5C;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
  }

 .buttons{
    margin-top: 20px;
}

.find-btn,
.explore-btn{
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.find-btn{
    background-color: #001a70;
    color: white;
}

.explore-btn{
    background-color: #ff9100;
    color: white;
}
.auth-buttons{
    margin-top:10px;
}

.login-btn,
.signup-btn{
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin: 8px;
}

.login-btn{
    background-color: white;
    color: #001a70;
    font-weight: bold;
}

.signup-btn{
    background-color: #001a70;
    color: white;
}